# remove any zed files that start with .tmp
zed/.config/zed/.tmp*

# remove fish_variables, which might have API keys
fish/.config/fish/fish_variables

# remove all aider files
.aider*

# remove all .DS_Store files
.DS_Store

# specific fish functions
**/llmprov-update.fish

# neovim lockfile 
# (versions can manage this on their own, sometimes causes conflicts)
**/lazy-lock.json
