layout {

    focus-ring {
        active-color   "#c89b7b"
        inactive-color "#1a1a1e"
        urgent-color   "#c47070"
    }

    border {
        active-color   "#c89b7b"
        inactive-color "#1a1a1e"
        urgent-color   "#c47070"
    }

    shadow {
        color "#1a1a1e70"
    }

    tab-indicator {
        active-color   "#c89b7b"
        inactive-color "#714120"
        urgent-color   "#c47070"
    }

    insert-hint {
        color "#c89b7b80"
    }
}

recent-windows {
    highlight {
        active-color "#c89b7b"
        urgent-color "#c47070"
    }
}
